.watch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.topBand2 {
    height: 75px;
    background-color: #010000;
    margin: 1px;
    clip-path: polygon(22.5% 0%, 77.5% 0%, 80% 100%, 20% 100%);
}

.topBand3 {
    height: 75px;
    background-color: #010000;
    margin: 1px;
    clip-path: polygon(20% 0%, 80% 0%, 85% 100%, 15% 100%);
}

.topBand4 {
    height: 75px;
    width: 330px;
    background-color: #010000;
    margin: 1px;
    clip-path: polygon(15% 0%, 85% 0, 100% 100%, 0 100%);
}

.watchFace {
    height: 400px;
    width: 350px;
    background-color: #010000;
    border-radius: 15px;
}

.topText {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    padding-top: 10px;
}

.brandName {
    color: #cecbc6;
}

.brandSpecs {
    color: #50646e
}

.brandLogo {
    color: #e8ce4f
}

.bottomBand1 {
    height: 75px;
    width: 330px;
    background-color: #010000;
    margin: 1px;
    clip-path: polygon(15% 100%, 85% 100%, 100% 0%, 0% 0%);
}

.bottomBand2 {
    height: 75px;
    background-color: #010000;
    margin: 1px;
    clip-path: polygon(20% 100%, 80% 100%, 85% 0%, 15% 0%);
}

.bottomBand3 {
    height: 75px;
    background-color: #010000;
    margin: 1px;
    clip-path: polygon(22.5% 100%, 77.5% 100%, 80% 0%, 20% 0%);
}
