@font-face {
  font-family: 'Michroma Regular';
  src: url(Michroma/Michroma-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'DS Digital';
    src: url(ds_digital/DS-DIGI.TTF) format('truetype');
}


.watch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.topBand1 {
    height: 75px;
    background-color: #191919;
    margin: 1px;
    clip-path: polygon(22.5% 0%, 77.5% 0%, 80% 100%, 20% 100%);
}

.topBand2 {
    height: 75px;
    background-color: #191919;
    margin: 1px;
    clip-path: polygon(20% 0%, 80% 0%, 85% 100%, 15% 100%);
}

.topBand3 {
    height: 75px;
    width: 330px;
    background-color: #191919;
    margin: 1px;
    clip-path: polygon(15% 0%, 85% 0, 100% 100%, 0 100%);
}

.watchFace {
    position: relative;
    height: 400px;
    width: 350px;
    background-color: #010000;
    border-radius: 15px;
}

.topText {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10px;
}

.brandName {
    color: #cecbc6;
    font-family: Michroma Regular;
    font-size: 20px;
    padding-right: 15px;
    margin-top: 7px;
}

.brandSpecs {
    color: #50646e;
}

.brandLogo {
    color: #e8ce4f;
    font-size: 30px;
    margin-left: 10px;
    padding-left: 25px;
}

.screen {
    height: 75px;
    width: auto;
    margin: 10px;
    background-color: #c8dcda;
    font-family: DS Digital;
    font-size: 75px;
    text-align: right;
}

.clearButton button {
    position: absolute;
    right: 520px;
    top: 350px;
    height: 40px;
    width: 25px;
    background-color: lightgrey;
    border-color: gray;
    padding: 0;

}

.clearButton:active button {
    width: 15px;
    right: 530px;
    text-align: center;
}


.bottomBand1 {
    height: 75px;
    width: 330px;
    background-color: #191919;
    margin: 1px;
    clip-path: polygon(15% 100%, 85% 100%, 100% 0%, 0% 0%);
}

.bottomBand2 {
    height: 75px;
    background-color: #191919;
    margin: 1px;
    clip-path: polygon(20% 100%, 80% 100%, 85% 0%, 15% 0%);
}

.bottomBand3 {
    height: 75px;
    background-color: #191919;
    margin: 1px;
    clip-path: polygon(22.5% 100%, 77.5% 100%, 80% 0%, 20% 0%);
}

.frontButtons button {
    font-weight: bold;
    color: #cecbc6;
    height: 50px;
    width: 84px;
    font-family: Michroma Regular;
    background-color: transparent;
    font-size: larger;
    border-radius: 5px;
    margin: 0;

}

.frontButtons {
    text-align: center;
}